.title {
    font-size: 24px;
    margin: 0 0 0 10px;
    font-weight: normal;
}

.wrapper {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
            "left center"
            "left center";

}
.userPhoto {
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.userCardPhoto {
    grid-area: left;
    display: grid;
    justify-items: center;
}
.userCard {
    background-color: rgba(0, 233, 0, 0.04);
    padding: 10px;
    border: 2px solid rgba(0, 128, 0, 0.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 5fr 5fr;
}
.userCardCenter {
    display: grid;
    align-content: space-between;
}
.userCardRight {
    display: grid;
    align-content: space-between;
    justify-items: end;
}

.status {
    font-weight: 300;
}
.button {
    border: 2px solid green;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #006e00;
    transition: all .2s;
    font-weight: 600;
    font-size: 16px;
    width: 100px;
    height: 30px;
}
.button:hover {
    background-color: rgba(0, 128, 0, 0.11);
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.button:focus{
    outline: none;
    border: 2px solid deepskyblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.button[disabled] {
    background-color: rgba(0, 0, 0, 0.25);
}