.header {
    grid-area: header;
    position: relative;
    display: grid;
}

.header img {
    width: 60px;
    position: absolute;
}

.loginBlock {
    justify-self: end;
    align-self: center;
    color: white;
    text-decoration: none;
    padding-right: 25px;
    text-align: center;
}
.loginBlock button, .loginBlock a {
    text-decoration: none;
    border: 2px solid green;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #006e00;
    font-weight: 600;
    transition: all .2s;
}

.loginBlock button:hover, .loginBlock a:hover {
    background-color: rgba(0, 128, 0, 0.11);
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.loginBlock button:focus{
    outline: none;
    border: 2px solid deepskyblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.loginBlock a:active {
    border: 2px solid deepskyblue;
}

.name {
    color: #006e00;
    font-weight: 600;
}
