.wrapper {

}
.wrapper .profileBackground{
    width: 1000px;
    height: 200px;
}

.descriptionBlock {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: start;
}

.description {
    padding-left: 25px;
    position: relative;
    font-weight: 600;
}

.descriptionItem {
    font-size: 20px;
    position: relative;
}

.descriptionItem ul {
    margin: 0;
}

.preloaderStatus {
    width: 45px;
    height: 45px;
    position: absolute;
    left: -35px;
    top: -7px;
}

.preloaderProfile {
    width: 45px;
    height: 45px;
    position: absolute;
    left: -20px;
    top: 353px;
}

.description button {
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid green;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #006e00;
    transition: all .2s;
    font-weight: 600;
    font-size: 16px;
}

.description button:hover {
    background-color: rgba(0, 128, 0, 0.11);
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.description button:focus{
    outline: none;
    border: 2px solid deepskyblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.status {
    font-weight: normal;
    padding-left: 15px;
    transition: all .2s;
    cursor: pointer;
    margin-bottom: 15px;
}
.status:hover {
    background-color: #e2eaf0;
 }

.descriptionItem input {
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(0, 128, 0, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    padding-left: 3px;
}