.wrapper {

}
.wrapper .profileBackground{
    width: 1000px;
    height: 200px;
}

.descriptionBlock {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: start;
}

.description {
    padding-left: 25px;
}

.descriptionItem {
    font-size: 20px;
    position: relative;
}

.descriptionItem ul {
    margin: 0;
}

.preloader {
    width: 45px;
    height: 45px;
    position: absolute;
    left: -35px;
    top: -7px;
}
