.appWrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.appWrapperContent {
  grid-area: content;
  background-color: cornflowerblue;
}

.requestError {
  background: rgba(255, 0, 0, 0.8);
  text-align: right;
  position: absolute;
  left: 600px;
  top: 250px;
  border-radius: 10px;
  padding: 3px;
}
.requestError div {
  font-size: 24px;
}

.requestError button{
  border-radius: 50%;
  outline: none;
  color: red;
  border-color: red;
}